@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg-color: #faf9f6;
  --text: #000000;
  --secondary: #5a6850;
  --swiper-navigation-color: var(--secondary);
  --swiper-pagination-color: black;
}

@layer base {

  body {
    @apply font-sans bg-[color:var(--bg-color)] overflow-x-hidden text-[#374151]
  }
  h1, h2, h3, h4, h5, h6 {
    @apply font-serif
  }
  a {
    @apply underline transition-colors ease-in-out
    hover:text-[color:var(--secondary)] hover:no-underline
  }
}


@layer components {

  .link {
    @apply px-3 py-2 border-b border-black no-underline uppercase tracking-[.2em] transition-all ease-in-out
    hover:tracking-[.25em] hover:text-[color:var(--secondary)] hover:border-[color:var(--secondary)]
  }

  .btn-subscribe {
    font-family: 'Montserrat';
    @apply rounded-sm border-2 bg-white/20 border-neutral-800 hover:text-white text-neutral-800
    hover:bg-neutral-800 py-1 px-6 tracking-widest text-sm float-right mr-4 mt-3 ease-in transition-colors;
  }

  .section-title {
    @apply font-['Montserrat'] text-center uppercase text-xl tracking-[.2em] font-normal;
  }

  .quote {
    @apply font-serif text-3xl font-normal tracking-widest leading-snug
    /* style=" font-size:2.5em; line-height:125%;" class="text-center" */
  }

  .quote-by {
    @apply font-['Montserrat'] text-lg tracking-normal
  }

  .section-subtitle {
    @apply text-3xl text-center uppercase
  }
}

.btn-toggle-nav {
  position: absolute;
  width: 90px;
  height: 90px;
  top: -16px;
  left: -8px;
  z-index: 2000;
  scale:.4;
}

.btn-toggle-nav .icon {
  transition-duration: 0.2s;
  background-color: black;
  position: absolute;
  height: 4px;
  width: 90px;
  top: 40px;
}

.btn-toggle-nav .icon:before{
  transition-duration: 0.2s;
  background-color: black;
  position: absolute;
  height: 4px;
  width: 90px;
  top: -20px;
  content: "";
}
.btn-toggle-nav .icon:after{
  transition-duration: 0.2s;
  background-color: black;
  position: absolute;
  height: 4px;
  width: 90px;
  top: 20px;
  content: "";
}

body.menu-open .btn-toggle-nav .icon{
  width: 0px;
}

body.menu-open .btn-toggle-nav .icon:before{
  transform: rotateZ(45deg) scaleX(1.25) translate(13px, 13px);
}

body.menu-open .btn-toggle-nav .icon:after{
  transform: rotateZ(-45deg) scaleX(1.25) translate(12px, -12px);
}


.main-nav {
  height: 0;
  overflow: hidden;
  position: fixed;
  left: 0;
  top: 0;
  transition: height 0.25s ease;
  width: 100vw;
}

.main-nav > ul {
  width: 100vw;
  background-color: #DDD;
}

.main-nav a {
  @apply no-underline text-black opacity-70 hover:opacity-100 duration-300 border-b border-transparent hover:border-neutral-600 hover:normal-case;
}

.menu-image {
  height: 0;
  display: none;
  position: fixed;
  height: 100vh;
  background-color: #CCC;
  transition: top 0.25s ease;
  @apply top-[100vh] w-1/2 left-1/2;
}


body.menu-open {
  @apply overflow-hidden
}
body.menu-open.has-scroll {
  @apply pr-[15px]
}
body.menu-open.has-scroll #header {
  @apply pr-[15px]
}

body.menu-open .main-nav {
  display: block;
  height: 100vh;
}

body.menu-open div.menu-image {
  top: 0%;
}

@media (min-width: 1024px) {
  div.menu-image {
    display: block;
  }

  .main-nav > ul {
    width: 50vw;
  }
}


.modal {
  transition: opacity 0.25s ease;
}
body.modal-active {
  overflow-x: hidden;
  overflow-y: visible !important;
}

#proyectos li {
  @apply relative inline-block pr-20
}

#proyectos li::before {
  content: "/";
  position: absolute;
  right: 24px;
  @apply inline-block
}

#proyectos li:last-child:before {
  content: "";
  @apply inline-block
}

#proyectos li a::after{
  content: '';
  display: block;
  transform: scaleX(0);
  border-bottom: 1px solid var(--secondary);
  transition: all 0.3s ease-in-out;
}
#proyectos li a:hover::after{
  transform: scaleX(1);
}

@media (max-width: 767px) {
  #proyectos li {
    @apply p-0
  }
  #proyectos li::before {
    content:"";
  }
}

.year {
  @apply relative mb-8 text-left;
  & > p:first-child {
    @apply absolute w-16 shrink-0 m-0 pr-2 text-lg font-bold leading-5;
  }
  & > p {
    @apply ml-14 mb-3;
  }
}

.prosed {

  @apply leading-relaxed;

  & > p {
    @apply my-4;
  }

}

/* raleway-regular - latin */
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  src: url('./fonts/raleway-v28-latin-regular.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('./fonts/raleway-v28-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('./fonts/raleway-v28-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('./fonts/raleway-v28-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('./fonts/raleway-v28-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('./fonts/raleway-v28-latin-regular.svg#Raleway') format('svg'); /* Legacy iOS */
}

/* raleway-600 - latin */
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 600;
  src: url('./fonts/raleway-v28-latin-600.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('./fonts/raleway-v28-latin-600.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('./fonts/raleway-v28-latin-600.woff2') format('woff2'), /* Super Modern Browsers */
       url('./fonts/raleway-v28-latin-600.woff') format('woff'), /* Modern Browsers */
       url('./fonts/raleway-v28-latin-600.ttf') format('truetype'), /* Safari, Android, iOS */
       url('./fonts/raleway-v28-latin-600.svg#Raleway') format('svg'); /* Legacy iOS */
}

/* raleway-italic - latin */
@font-face {
  font-family: 'Raleway';
  font-style: italic;
  font-weight: 400;
  src: url('./fonts/raleway-v28-latin-italic.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('./fonts/raleway-v28-latin-italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('./fonts/raleway-v28-latin-italic.woff2') format('woff2'), /* Super Modern Browsers */
       url('./fonts/raleway-v28-latin-italic.woff') format('woff'), /* Modern Browsers */
       url('./fonts/raleway-v28-latin-italic.ttf') format('truetype'), /* Safari, Android, iOS */
       url('./fonts/raleway-v28-latin-italic.svg#Raleway') format('svg'); /* Legacy iOS */
}






/* montserrat-regular - latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: url('./fonts/montserrat-v25-latin-regular.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('./fonts/montserrat-v25-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('./fonts/montserrat-v25-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('./fonts/montserrat-v25-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('./fonts/montserrat-v25-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('./fonts/montserrat-v25-latin-regular.svg#Montserrat') format('svg'); /* Legacy iOS */
}

/* montserrat-600 - latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  src: url('./fonts/montserrat-v25-latin-600.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('./fonts/montserrat-v25-latin-600.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('./fonts/montserrat-v25-latin-600.woff2') format('woff2'), /* Super Modern Browsers */
       url('./fonts/montserrat-v25-latin-600.woff') format('woff'), /* Modern Browsers */
       url('./fonts/montserrat-v25-latin-600.ttf') format('truetype'), /* Safari, Android, iOS */
       url('./fonts/montserrat-v25-latin-600.svg#Montserrat') format('svg'); /* Legacy iOS */
}


/* cormorant-garamond-regular - latin */
@font-face {
  font-family: 'Cormorant Garamond';
  font-style: normal;
  font-weight: 400;
  src: url('./fonts/cormorant-garamond-v16-latin-regular.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('./fonts/cormorant-garamond-v16-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('./fonts/cormorant-garamond-v16-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('./fonts/cormorant-garamond-v16-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('./fonts/cormorant-garamond-v16-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('./fonts/cormorant-garamond-v16-latin-regular.svg#CormorantGaramond') format('svg'); /* Legacy iOS */
}

/* cormorant-garamond-italic - latin */
@font-face {
  font-family: 'Cormorant Garamond';
  font-style: italic;
  font-weight: 400;
  src: url('./fonts/cormorant-garamond-v16-latin-italic.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('./fonts/cormorant-garamond-v16-latin-italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('./fonts/cormorant-garamond-v16-latin-italic.woff2') format('woff2'), /* Super Modern Browsers */
       url('./fonts/cormorant-garamond-v16-latin-italic.woff') format('woff'), /* Modern Browsers */
       url('./fonts/cormorant-garamond-v16-latin-italic.ttf') format('truetype'), /* Safari, Android, iOS */
       url('./fonts/cormorant-garamond-v16-latin-italic.svg#CormorantGaramond') format('svg'); /* Legacy iOS */
}

/* cormorant-garamond-600 - latin */
@font-face {
  font-family: 'Cormorant Garamond';
  font-style: normal;
  font-weight: 600;
  src: url('./fonts/cormorant-garamond-v16-latin-600.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('./fonts/cormorant-garamond-v16-latin-600.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('./fonts/cormorant-garamond-v16-latin-600.woff2') format('woff2'), /* Super Modern Browsers */
       url('./fonts/cormorant-garamond-v16-latin-600.woff') format('woff'), /* Modern Browsers */
       url('./fonts/cormorant-garamond-v16-latin-600.ttf') format('truetype'), /* Safari, Android, iOS */
       url('./fonts/cormorant-garamond-v16-latin-600.svg#CormorantGaramond') format('svg'); /* Legacy iOS */
}

/* cormorant-garamond-600italic - latin */
@font-face {
  font-family: 'Cormorant Garamond';
  font-style: italic;
  font-weight: 600;
  src: url('./fonts/cormorant-garamond-v16-latin-600italic.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('./fonts/cormorant-garamond-v16-latin-600italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('./fonts/cormorant-garamond-v16-latin-600italic.woff2') format('woff2'), /* Super Modern Browsers */
       url('./fonts/cormorant-garamond-v16-latin-600italic.woff') format('woff'), /* Modern Browsers */
       url('./fonts/cormorant-garamond-v16-latin-600italic.ttf') format('truetype'), /* Safari, Android, iOS */
       url('./fonts/cormorant-garamond-v16-latin-600italic.svg#CormorantGaramond') format('svg'); /* Legacy iOS */
}
